body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 30px;
}

.category-buttons {
    margin: 20px 0;
}

button {
    padding: 12px 18px;
    margin: 8px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.flipbook-container {
    display: none;
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
}

.flipbook {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flipbook img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Adjust this as needed, can be 'cover' or 'contain' */
}

.language-switch {
    position: fixed;
    top: 10px;
    right: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.language-switch button {
    margin: 5px;
}
